---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Introduction
</h1>
<h2>
  Make a Blog with Ruby
</h2>

<ul>
  <li><%= link_to 'GitLab ','https://about.gitlab.com/' %>allows you to make a static website for free</li>
  <li>You can use a <%= link_to 'static website','https://en.wikipedia.org/wiki/Static_web_page' %> to host a <%= link_to 'blog','https://bkmgit.gitlab.io/blog/'%></li>
  <li>Later, we will also use a static website to host a shop</li>
  <li>Ruby is used in the static website generator <%= link_to 'Middleman', 'https://middlemanapp.com/' %></li>
  <li>Ruby will be run automatically for you by  <%= link_to 'GitLab continuous integration (CI)','https://docs.gitlab.com/ee/ci/README.html' %></li>
  <li>If you do not have an account on GitLab, please create one <%= link_to 'here','https://gitlab.com/users/sign_in#register-pane' %></li>
  <li>Sign into GitLab <%= link_to 'here','https://gitlab.com/users/sign_in' %></li>
  <li>Fork the following <%= link_to 'repository','https://gitlab.com/bkmgit/blog/' %></li>
  <li>In your browser, change the content of the first post in file <i>source/2020-05-27-example-article.html.markdown</i> to something of your own choosing</li>
  <li>Then go to <b>CI/CD</b>, click on the <b>pipleines</b> option, and <b>Run Pipeline</b></li>
  <li>Click on <b>Settings</b>, and then <b>pages</b> to see where your blog will appear and go to that location.</b></li>
  <li>One can improve the styling and additional articles, but we leave this as a possible project.</li>
</ul>

<h3>
  Further Reading
</h3>
<ul>
  <li><%= link_to 'Workshop Personal Website','https://github.com/marinaaisa/workshop-personal-website' %></li>
</ul>
