---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Introduction
</h1>
<h2>
  Make a Blog with Ruby
</h2>

<ul>
  <li><%= link_to 'GitLab ','https://about.gitlab.com/' %>allows you to make a static website for free</li>
  <li>You can use a <%= link_to 'static website','https://en.wikipedia.org/wiki/Static_web_page' %> to host a <%= link_to 'blog','https://bkmgit.gitlab.io/blog/'%></li>
  <li>Later, we will also use a static website to host a shop</li>
  <li>Ruby is used in the static website generator <%= link_to 'Middleman', 'https://middlemanapp.com/' %></li>
  <li>Ruby will be run automatically for you by a <%= link_to 'GitLab continuous integration','https://docs.gitlab.com/ee/ci/README.html' %></li>
  <li>If you do not have an account on GitLab, please create one <%= link_to 'here','https://gitlab.com/users/sign_in#register-pane' %></li>
  <li>Now sign into GitLab <%= link_to 'here','https://gitlab.com/users/sign_in' %></li>
  <li>Now fork the following <%= link_to 'repository','https://gitlab.com/bkmgit/blog/' %></li>
  <li>Change the content of the first post in file <i>source/2020-05-27-example-article.html.markdown</i></li>
  <li>Then go to <b>CI/CD</b>, click on the <b>pipleines</b> option, and <b>Run Pipeline</b></li>
  <li>Click on <b>Settings</b>, and <b>pages</b> to see where your page will appear.</b></li>
  <li>One can add further styling to the article, but we leave this as a possible project.</li>
</ul>

