---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: E-commerce
</h1>
<h2>
  E-commerce
</h2>
<p><%= link_to 'Ruby on Rails','https://rubyonrails.org/' %> has been 
popularized because it has enabled many to do 
<%= link_to 'e-commerce', 'https://en.wikipedia.org/wiki/E-commerce' %>.
E-commerce is the use of the internet for consumer transactions.
An early success that has used Ruby is 
<%= link_to 'Shopify','https://www.shopify.com/' %>.
An open source Ruby based e-commerce solution is 
<%= link_to 'Spree commerce','https://spreecommerce.org/' %>.
You can find a demonstration shop <%= link_to 'here','https://demo.spreecommerce.org/' %>.
Spree commerce requires you to run your own server, however you can also try
it on your own computer. Follow the instructions to
download it <%= link_to 'here','https://github.com/spree/spree' %>.
</p>

<p>
Other example open source e-commerce solutions written in Ruby include:
<ul>
  <li><%= link_to 'Solidus','https://solidus.io/' %></li>
  <li><%= link_to 'ror_ecommerce','http://www.ror-e.com/' %></li>
</ul>

