---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Introduction
</h1>
<h2>
  Exercises with Ruby
</h2>
<ul>
  <li>To learn a programming language it is helpful to write software in that language,
or do some exercises in that language. Consider creating a small Ruby project.
If you do not have a project in mind, you can also try doing some exercies from:
<ul>
  <li><%= link_to 'Ruby Koans','http://www.rubykoans.com/' %></li>
  <li><%= link_to 'Hackerrank ','https://www.hackerrank.com/' %></li>
</ul>
  </li>
  <li>Add some styling to the blog you created.</li>
</ul>

<h2>
  Gosu and Game Exercises
</h2>
<ul>
  <li>Improve <%= link_to 'Ruboto','http://ruboto.org/' %></li>
  <li>Get a good set of rules for <%= link_to 'Bao','https://sw.wikipedia.org/wiki/Bao'%> and 
    put them online or add them to <%= link_to 'here','https://github.com/nairuby/ruby101'%>
  <li>Make Ruby implementation of Bao or a similar
    game using <%= link_to 'Gosu','https://www.libgosu.org'%></li>
  <li>Create an artificial intelligence based solver for <%= link_to 'Kalah',
    'https://en.wikipedia.org/wiki/Kalah'%></li>
  <li>Create an artificial intelligence based solver for <%= link_to 'Bao',
    'https://sw.wikipedia.org/wiki/Bao'%></li>
</ul>
