---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Game
</h1>
<h2>
  Gosu
</h2>

<ul>
  <li>What does <%= link_to 'Gosu', 'https://en.wikipedia.org/wiki/Gosu'%>
  mean in Korean?</li>
  <li>First install <%= link_to 'Gosu', 'https://www.libgosu.org'%>, 
    hopefully you already have Ruby installed. Follow 
    the instructions <%= link_to 'here', 'https://github.com/gosu/gosu/wiki/'%></li>
  <li>An introductory tutorial on <%= link_to 'Gosu', 'https://www.libgosu.org'%> 
  is <%= link_to 'here', 'https://github.com/gosu/gosu/wiki/Ruby-Tutorial'%></li>
  <li>We will modify a game of <%= link_to 'Tic Tac Toe', 'https://github.com/subdigital/tic-tac-toe'%>
  <ul>
    <li>How is this game programmed? In particular, what functionality is in
      <%= link_to 'board.rb', 'https://github.com/subdigital/tic-tac-toe/blob/master/board.rb'%>, 
      <%= link_to 'game.rb', 'https://github.com/subdigital/tic-tac-toe/blob/master/game.rb'%> 
      and 
      <%= link_to 'sqaure.rb','https://github.com/subdigital/tic-tac-toe/blob/master/square.rb'%>?
    </li>
  </ul>
  <li>How can we modify this for Kalah?<li>
</ul>

  <h3>
    Other Gosu Tutorials
  </h3>
  <ul> 
    <li><%= link_to 'Rock, Paper, Scissors','https://www.spencerdixon.com/blog/gosu-tutorial.html' %></li>
    <li><%= link_to 'Starfighter Gosu Tutorial','https://github.com/masonhale/Starfighter-Gosu-Tutorial' %></li>
  </ul>
