---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Serverless E-commerce
</h1>
<h2>
  Maps
</h2>

<ul>
  <li>Typically, goods need to be delivered to customers. Thus, a customer needs to indicate where
    they want the goods delivered to. Maps provide a simple way to indicate a location. There are
    a number of map service providers. Some include:</li>
  <ul>
    <li><%= link_to 'Baidu maps','https://map.baidu.com/' %></li>
    <li><%= link_to 'E-charts maps','https://github.com/echarts-maps' %></li>
    <li><%= link_to 'Google maps', 'https://google.com/maps' %></li>
    <li><%= link_to 'Here maps', 'https://wego.here.com/' %></li>
    <li><%= link_to 'Mapbox', 'https://www.mapbox.com/' %></li>
    <li><%= link_to 'Open street map','https://www.openstreetmap.org/' %></li>
    <li><%= link_to 'Tom tom','https://www.tomtom.com/products/map-technology/' %></li>
    <li><%= link_to 'Yandex maps', 'https://yandex.com/maps/' %></li>
  </ul>
</ul>

