---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Serverless E-commerce
</h1>
<h2>
  Payments
</h2>

<ul>
  <li>While pay on delivery is an option, being able to receive electronic payments can
    make it easier to do business. Some providers that faciliate being able to receive 
  electronic payments are:</li>
  <ul>
    <li><%= link_to 'Africa\'s Talking', 'https://africastalking.com/' %></li>   
    <li><%= link_to 'Ali Pay', 'https://www.alipay.com/' %></li>
    <li><%= link_to 'Baidu Wallet', 'https://www.baidu.com/' %></li>
    <li><%= link_to 'Cashfree', 'https://www.cashfree.com/' %></li>
    <li><%= link_to 'Flutterwave', 'https://flutterwave.com/' %></li>
    <li><%= link_to 'Fomo pay', 'https://www.fomopay.com' %></li>
    <li><%= link_to 'Instamojo', 'https://www.instamojo.com' %></li>
    <li><%= link_to 'Kopo kopo', 'https://kopokopo.co.ke/' %></li>
    <li><%= link_to 'Kyash', 'https://www.kyash.co' %></li>
    <li><%= link_to 'Paypal', 'https://www.paypal.com/' %></li>
    <li><%= link_to 'Payu', 'https://corporate.payu.com/' %></li>
    <li><%= link_to 'Pesapal', 'https://www.pesapal.com/' %></li>
    <li><%= link_to 'Snipcart', 'https://snipcart.com/' %></li>
    <li><%= link_to 'Stripe', 'https://stripe.com/' %></li>
    <li><%= link_to 'Venmo', 'https://venmo.com/' %></li>
    <li><%= link_to 'WeChat' 'https://www.wechat.com/' %></li>
    <li><%= link_to 'Zelle', 'https://www.zellepay.com/' %></li>
  </ul>
</ul>

