---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Game
</h1>
<h2>
  Ruboto
</h2>

<ul>
  <li><%= link_to 'Ruboto','https://en.wikipedia.org/wiki/Gosu'%>
  is a library that enables development of Ruby applications in Android</li>
  <li>It allows you to do Ruby programming in your broswer by installing
    <%= link_to 'Ruboto IRB','https://github.com/ruboto/ruboto-irb'%> on your Android phone.</li>
  <li>An introductory tutorial on writing a <%= link_to 'Gosu','https://github.com/ruboto/ruboto/wiki/Tutorial%3A-write-a-gosu-game'%> game</li>
  <li>A <%= link_to 'voting app','https://github.com/ruboto/FairVoting'%> that may be helpful for Nairuby</li>
  <li>Unfortunately, development has slowed and  <%= link_to 'contributions',
    'https://github.com/ruboto/ruboto/wiki/Contributing'%> are needed, so we will come back to it in the last session after making some updates.
</ul>

