---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Serverless E-commerce
</h1>
<ul>
  <li><%= link_to 'E-commerce', 'https://en.wikipedia.org/wiki/E-commerce' %></li>
  <li>What is <%= link_to 'serverless', 'https://en.wikipedia.org/wiki/Serverless_computing' %>?</li>
  <li><%= link_to 'Some payment providers', '/ruby101/payments.html' %></li>
  <li><%= link_to 'Maps','/ruby101/maps.html' %></li>
  <li><%= link_to 'E-commerce with Middleman','/ruby101/middleman_ecommerce.html'%></li>
  <li>Serverless E-commerce with Ruby</li>
  <ul>
    <li><%= link_to 'Ruby on Jets', 'https://rubyonjets.com/'%></li>
    <li><%= link_to 'Serverless', 'https://www.serverless.com/framework/docs/providers/spotinst/examples/ruby/'%></li>
    <li><%= link_to 'Traveling Ruby', 'http://phusion.github.io/traveling-ruby/'%></li>
  </ul>
</ul>

