---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Introduction
</h1>
<h2>
  Try Ruby Online
</h2>

<ul>
  <li>There are many tutorials that introduce Ruby. Some online environments include</li>
  <ul>
    <li><%= link_to 'Try Ruby Online', 'https://try.ruby-lang.org/' %></li>
    <li><%= link_to 'Repl.it', 'https://repl.it/languages/' %></li>
    <li><%= link_to 'Jdoodle', 'https://www.jdoodle.com/execute-ruby-online/' %></li>
    <li><%= link_to 'TutorialsPoint', 'https://www.tutorialspoint.com/execute_ruby_online.php' %></li>
  </ul>
</ul>
<p>Here we will go through the introductory tutorial at <%= link_to 'Try Ruby Online', 'https://try.ruby-lang.org/' %></p>

